{% set isMyCategory = false %} {% for category in item.documents[0].data.defaultCategories if category.id == 46 %} {% set isMyCategory = true %} {% endfor %} {% if isMyCategory %}

		<!-- Modal Markisen -->
<div class="modal fade" id="MarkisenModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title" id="myModalLabel" style="color: black;">Limitierte Aktion</h4>
      </div>
      <div class="modal-body">
       
<img src="https://cdn02.plentymarkets.com/t8d6ebrty3oo/frontend/Popups/3-Aktion-3.jpg" class="img-fluid">
 
 
      </div>

    </div>
  </div>
</div>
{% endif %}

<!-- Am Ende der Seite -->
{% set isMyCategory = false %} {% for category in item.documents[0].data.defaultCategories if category.id == 46 %} {% set isMyCategory = true %} {% endfor %} {% if isMyCategory %}
<script>
 $(document).ready(function() {
  if (document.cookie.indexOf('visited=true') == -1){
    // load the overlay
    $('#MarkisenModal').modal({show:true});
    
    var year = 1000*60*20;
    var expires = new Date((new Date()).valueOf() + year);
    document.cookie = "visited=true;expires=" + expires.toUTCString();

  }
});
</script>
{% endif %}
